// app global css in SCSS form

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(2rem, -0.2rem + 4vw, 3rem) !important;
  line-height: clamp(2.2rem, -0.2rem + 4vw, 3.2rem) !important;
  font-weight: 600;
  margin-block-start: 0em;
  margin-block-end: 0.4em;
  color: $secondary;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-block-end: 10px;
}
