name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-spa:

    runs-on: ubuntu-latest
    env:
      working-directory: ./src/Frontend

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Clean slate
      run: npm ci
      working-directory: ${{env.working-directory}}
    - name: Install quasar
      run: npm install -g @quasar/cli
      working-directory: ${{env.working-directory}}
    - name: Build
      run: quasar build
      working-directory: ${{env.working-directory}}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        # Artifact name
        name: spa
        # Directory containing files to upload
        path: ${{env.working-directory}}/dist/spa/
        # Days before delete
        retention-days: 1
        
  build-docker-spa:

    needs: [build-spa]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: spa
        path: spa
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/Dockerfile-Frontend
        push: true
        tags: ghcr.io/${{ github.repository }}/frontend:latest
